body, div, h1,h2, form, fieldset, input, textarea, footer,p {
	margin: 0; padding: 0; border: 0; outline: none;
}


@font-face {
	font-weight: normal;
	font-style: normal;
}

p {text-shadow:0 1px 0 #fff; font-size:0.8rem;}
#wrap {
	width:530px; 
	margin: 6.5em auto 0; 
	height:80%; 
	min-height: 500px;
	padding: 50px 0;
}


#form_wrap { overflow:hidden; height:446px; position:relative; top:0px;
	-webkit-transition: all 1s ease-in-out .3s;
	-moz-transition: all 1s ease-in-out .3s;
	-o-transition: all 1s ease-in-out .3s;
	transition: all 1s ease-in-out .3s;}

#form_wrap:before {
	content:"";
	position:absolute;
	bottom:128px;
	left:0px;
	background:url('../images/before.png');
	width:530px;
	height: 316px;
}	

#form_wrap:after {
	content:"";
	position:absolute;
	bottom:0px;left:0;
	background:url('../images/after.png');
	width:530px;
	height: 260px; 
}


#form_wrap.hide:after, #form_wrap.hide:before {display:none; }
#form_wrap:hover {height:626px;top:-150px;}


form {
	background:#e3e3e3 url('../images/letter_bg.png'); 
	position:relative;top:200px;overflow:hidden;
	height:150px;width:470px;margin:0px auto;padding:10px 20px; 
	border: 1px solid #fff;
	border-radius: 3px; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px;
	box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	-moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
	-webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	-webkit-transition: all 1s ease-in-out .3s;
	-moz-transition: all 1s ease-in-out .3s;
	-o-transition: all 1s ease-in-out .3s;
	transition: all 1s ease-in-out .3s;
}


#form_wrap:hover form {height:530px;}





input[type=text] {
	font: .8rem normal normal uppercase helvetica, arial, serif;
	color: #7c7873;background:none;
	width: 260px; height: 30px; padding: 0px 10px; margin: 0 0 5px 0;
	border: 1px solid #C6C4C1;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 1px #726959;
	-webkit-box-shadow:  inset 0px 0px 1px #b3a895; 
	box-shadow:  inset 0px 0px 1px #b3a895;
}	

input.name {
	width: 112px;
}

input.email {
	width: 250px;
}

#form_wrap input[type=submit] {
	position:relative;
	padding: 10px; 
	font-size: .8rem; color: #7c7873;
	text-shadow:0 1px 0 #fff;
	width:100%; 
	text-align:center;
	opacity:0;
	background:none;
	cursor: pointer;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; 
	-webkit-transition: opacity .25s ease-in-out 0s;
	-moz-transition: opacity .25s ease-in-out 0s;
	-o-transition: opacity .25s ease-in-out 0s;
	transition: opacity .25s ease-in-out 0s;
}

input[type=text]:focus {
	background-color: white;
}
#form_wrap:hover input[type=submit] {
	z-index:1;
	opacity:1;
	-webkit-transition: opacity .25s ease-in-out 1s;
	-moz-transition: opacity .25s ease-in-out 1s;
	-o-transition: opacity .25s ease-in-out 1s;
	transition: opacity .25s ease-in-out 1s;
}


#form_wrap:hover input:hover[type=submit] {
	color:#93c2b2;
}


#error_wrap {
	position: absolute;
	top: 120px;
	left: 0;
	margin: auto;
	width: 100%;
	padding: 0 0 5px 0;
	color: red;
	font-size: .8rem;
	text-align: center;
}


@media screen and (max-width: 480px) {
	#wrap {
		width: 300px;
		padding: 20px 0;
	}
	#form_wrap {
		height:274px
	}
	#form_wrap:before {
		width: 300px;
		height: 179px;
		bottom:72px;
		background:url('../images/before_sm.png');
	}
	#form_wrap:after {
		width: 300px;
		height: 147px; 
		background:url('../images/after_sm.png');
	}
	form {
		padding: 10px;
		width: 260px;
		top:140px
	}
	#form_wrap:hover {height:474px;top:-100px;}
	#form_wrap:hover form {height:530px;}
	label {
		margin: 6px 10px;
		font-size: .6rem;
		width: 75px;
	}
	input[type=text] {
		padding: 0 5px;
		font-size: .6rem;
		width: 130px;
		height: 20px;
	}
	#form_wrap input[type=submit] {font-size:0.6rem;}
	.error {
		font-size: .6rem;
	}
}

.form_header p {
	text-align: center;
	font-size: .8rem;
	font-weight: 800;
	margin: 5px 0;
}

.form_body p {
	text-align: center;
	font-size: .8rem;
	margin: 5px 0;
}


.form_header {
	margin-bottom: 15px;
}

.form_body input.att[type="radio"] {
    display:none; 
}






.form_body label {
	margin: 0 0px 0px 0; 
	font-size: .8rem;
	text-shadow: 0px 1px 0px #fff;
}

.form_body label.name {
	min-width: 158px;
	padding:4px 0px;
	margin:3px 0;
	font-weight: 400;
}

label.form_button {
    display:inline-block;
    width: 45px;
    padding:4px 0;
    margin: 0 3px;
    font-size:.8rem;
    font-weight: 400;
	background-color:#ddd;
	text-align: center;
	border-radius: 2px 2px;
}

.form_body input[type="radio"]:checked + label {
    background-color:#93c2b2;
}

.form_body label.email {
	width: 90px;
	font-weight: 400;
}

label.guest_name {
	font-size:.8rem;
    font-weight: 400;
	width: 80px;
	margin-left: 5px;
}

input[type="text"].guest_name {
	width: 120px;
}


#form_wrap.default {height:676px;top:-150px;}
#form_wrap.default form {height:530px;}

#form_wrap.state0 {height:776px;top:-150px;}

#form_wrap.state0 form {height:530px;}


#form_wrap.state1 {height:834px;top:-150px;}
#form_wrap.state1 form {height:588px;}
#form_wrap.state2 {height:869px;top:-150px;}
#form_wrap.state2 form {height:623px;}
#form_wrap.state3 {height:903px;top:-150px;}
#form_wrap.state3 form {height:658px;}
#form_wrap.state4 {height:937px;top:-150px;}
#form_wrap.state4 form {height:693px;}




	