/*
* Custom variables
*/

@font-face {
    font-family: Parisienne;
    src: url(../fonts/Parisienne/Parisienne-Regular.eot); /* EOT file for IE */
}

@font-face {
    font-family: Parisienne;
    src: url(../fonts/Parisienne/Parisienne-Regular.ttf); /* TTF file for CSS3 browsers */
}

$main-font: 'Lato', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$fancy-font: 'Parisienne', cursive;
$font-size: 16px;
 
$black: #000;
$white: #FFF;
$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$blue: #bbc9e4;
$green: #93c2b2;
$tan: #d1c8b7;
$red: #51232d;
 
$padding: 10px;
$margin: 10px;
$head-height: 150px;

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
 
/******************************** 
Override Bootstrap variables
********************************/
$font-family-sans-serif: $main-font;
 
@import 'bootstrap';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }


/******************************** 
Color
********************************/


/******************************** 
Font Definition
********************************/

.main-font {
    font-family: $main-font;
}

.sub-font {
    font-family: $sub-font;
}

.fancy-font {
    font-family: $fancy-font;
}


/******************************** 
Header/Nav
********************************/

.jumbotron {
    background-color: $white;
    padding: 10px 0;
    margin: 0;
    height: $head-height;
    h1, h2, h3, a {
        color: black;
        text-decoration: none !important;
    }
    h1 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 20px 0;
    }
    h2 {
        font-size: 0.8rem;
        margin: 0;
    }
    span.accent {
        color: $green;
    }
    margin-bottom: 50PX;
    
}

.navbar {
    margin-bottom: 0;
    background-color: $green;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 9px !important;
    letter-spacing: 4px;
    border-radius: 0;
    position: absolute;
    top: 120px;
    min-height: 30px;
    .navbar-nav li a {
        padding: 5px 15px 5px;
        margin: auto;
        color: $white;
    }
}

button.navbar-toggle {
    float: none;
    width: 100%;
    padding: 5px;
    margin: auto !important;
    border: none;
    background-color: $green;
}

.navbar-default {
    .navbar-toggle {
    &:hover,
    &:focus {
      background-color: $green;
    }
    }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: $mediumgrey !important;
    background-color: $green !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


.sticky {
    position:fixed;
    top:0;
    border-bottom: solid 1px $white;
}

.menu-padding {
    padding-top: 30px;
}


/******************************** 
Wedding Panel
********************************/

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 15px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 15px;
    box-shadow: rgba(0,0,0,0.8) 0 0 15px;
}

#wedding {
    p {
        margin: 0;
    }
    a {
        color: $green;
        text-decoration: none !important;
    }
}

/******************************** 
Travel Panel
********************************/

#travel {
    background-color: $green;
    color: $white;
    .glyphicon {
        font-size: 50px;
    }
    a.icon {
        color: $white;
        text-decoration: none !important;
    }
    p.icon {
        margin: 10px;
    }
    .travel_item {
        padding: 20px;
    }
    .col-sm-6:first-child {
        border-right: solid 1px $white;
    }
}

/******************************** 
Stay Panel
********************************/

#stay {
    margin: 40px 0;
    a {
        text-decoration: none !important;

    }
    img {
        width: 80%;
        height: 100%;
        margin-bottom: 10px;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        border-radius: 2%;
        -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 15px;
        -moz-box-shadow: rgba(0,0,0,0.8) 0 0 15px;
        box-shadow: rgba(0,0,0,0.8) 0 0 15px;
    }


}




