/*
* Custom variables
*/

@font-face {
    font-family: Parisienne;
    src: url(../fonts/Parisienne/Parisienne-Regular.eot); /* EOT file for IE */
}

@font-face {
    font-family: Parisienne;
    src: url(../fonts/Parisienne/Parisienne-Regular.ttf); /* TTF file for CSS3 browsers */
}

$main-font: 'Lato', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$fancy-font: 'Parisienne', cursive;
$font-size: 16px;

$black: #000;
$white: #FFF;
$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$blue: #bbc9e4;
$green: #93c2b2;
$tan: #d1c8b7;
$red: #51232d;
$yellow: #d8d2a5;

$padding: 10px;
$margin: 10px;
$head-height: 150px;

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/********************************
Override Bootstrap variables
********************************/
$font-family-sans-serif: $main-font;

@import 'bootstrap';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }

 body {
    min-width : 320px;
 }


/********************************
Color
********************************/
.white-text {
    color: $white !important;
    a {
        color: $white;
    }
}

.color-red {
    color: $red;
}

.bg-green {
    background-color: $green;
}

.bg-red {
    background-color: $red;
}

.bg-white {
    background-color: $white;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-mediumgrey {
    background-color: $mediumgrey;
}

a:hover {
    color: $mediumgrey;
}

/********************************
Font Definition
********************************/

.main-font {
    font-family: $main-font;
}

.sub-font {
    font-family: $sub-font;
}

.fancy-font {
    font-family: $fancy-font;
}

.section-head {
    font-size: 1.5rem;
    margin-top: 0;
}


/********************************
Header/Nav
********************************/

.jumbotron {
    background-color: $white;
    padding: 10px 0;
    margin: 0;
    height: $head-height;
    h1, h2, h3, a {
        color: black;
        text-decoration: none !important;
    }
    h1 {
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 20px 0;
    }
    h2 {
        font-size: 0.8rem;
        margin: 0;
    }
    span.accent {
        color: $green;
    }
}

.navbar {
    margin-bottom: 0;
    background-color: $green;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 9px !important;
    letter-spacing: 4px;
    border-radius: 0;
    position: absolute;
    top: 120px;
    min-height: 30px;
    .navbar-nav li a {
        padding: 5px 15px 5px;
        margin: auto;
        color: $white;
    }
}

button.navbar-toggle {
    float: none;
    width: 100%;
    padding: 9px;
    margin: auto !important;
    border: none;
    background-color: $green;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: $green;
    color: $mediumgrey;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: $green;
    color: $mediumgrey;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover {
    background-color: $green;
    color: $mediumgrey;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:active {
    background-color: $green;
    color: $mediumgrey;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $green;
}



.sticky {
    position:fixed;
    top:0;
    border-bottom: solid 1px $mediumgrey;
}

.menu-padding {
    padding-top: 30px;
}

#todo:before { 
  display: block; 
  content: " "; 
  margin-top: -30px; 
  height: 30px; 
  visibility: hidden; 
}


/********************************
Wedding Panel
********************************/

#wedding {
    padding: 40px 0;
    p {
        margin: 0;
    }
    a {
        color: $green;
        text-decoration: none !important;
    }
}

.thumbnail {
    padding: 0;
    margin-bottom: 40px;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 15px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 15px;
    box-shadow: rgba(0,0,0,0.8) 0 0 15px;
}

@media screen and (min-width: 768px) {
    .thumbnail img {
        width: 90%;
        height: 90%;
    }
}



/********************************
Travel Panel
********************************/


#travel {
    .travel-section {
        padding: 40px 15px;
    }
    .glyphicon {
        font-size: 50px;
    }
    p {
        text-align: left;
    }
    a.icon {
        text-decoration: none !important;
        text-align: center;
    }

    p.icon {
        padding: 0;
        margin: 10px;;
        text-align: center;
    }

    img.icon {
        width:50px;
    }

    .travel-item {
        padding: 0;
        margin: 20px 0;
    }

    .col-sm-6:first-child {
        border-bottom: solid 1px $white;
    }

    @media screen and (min-width: 768px) {
        padding: 40px 0;
        .col-sm-6:first-child {
            border-right: solid 1px $white;
            border-bottom: none;
        }
        .travel-item {
            padding: 0 40px;
        }
        
    }

}


/********************************
todo Panel
********************************/

 #todo {
    position: relative;
    background-color: $green;
    height: 630px;
    .carousel {
        height: 450px;
    }
    .item {
        height: 420px;
    }
    .carousel-controls {
        height: 30px;
    }
    padding: 0;
    margin: 0
    h4 {
        margin: 0 0 15px 0;
    }
    p {
        margin: 0;
    }
    a {
        text-decoration: underline
    }
    .todo-nav-item {
        height: 30px;
        label {
          width: 100%;
          line-height: 30px;
          margin: 0;
          background-color:$yellow;
          cursor: pointer;
        }
        label:hover {

        }
    }

    input[type="radio"] {
        display:none;
    }

    input[type="radio"]:checked+label{
        background-color:$red;
        font-weight: bold;
    }

    .landing-text p {
        text-align: left;
        padding: 0 5px;
        margin-bottom: 15px;
    }

    .item {
        padding: 20px;
    }

    .item-address {
        margin-bottom: 15px;
    }

    .item-text {
        margin-bottom: 15px;
    }

    .item h4 {
        margin: 0 0 15px 0;
    }

    .todo-nav {
    }
    .todo-nav-close {
        position: absolute;
        right: 5px;;
        top:160px;
        z-index: 5;
        width: 20px;
        height: 20px;
        background-color: white;
        color: black;
        border-radius: 2px;
        label {
            line-height: 20px;
            width: 20px;
        }
    }



    @media screen and (min-width: 414px) {

    }

     @media screen and (min-width: 768px) {

        height: 350px;
        .carousel {
            height: 270px;
        }
        .item {
            height: 270px;
            padding: 20px;
        }
        .carousel-controls {
            height: 50px;
        }
        .todo-nav-item {
            height: 80px;
            label {
                width: 100%;
                line-height: 80px;
                margin: 0;
            }
        }

        .todo-nav-close {
            width: 25px;
            height: 25px;
            top:40px;
            label {
                line-height: 25px;
                width: 25px;
            }
        }

    }

     @media screen and (min-width: 1024px) {
        .landing-text p {
            padding: 0 200px;
        }
        .item-text p {
            padding: 0 200px;
        }
        .item p {
            padding: 0 200px;
        }
    }

    @media screen and (min-width: 1500px) {
        .landing-text p {
            padding: 0 375px;
        }
        .item-text p {
            padding: 0 375px;
        }
    }


    .carousel-controls{
     position:relative;
      width:300px;
      margin:0 auto;
    }

    .carousel-indicators{
       top:15px;

    }

    .carousel-control.left, .carousel-control.right {
        background-image: none
    }

}

/********************************
Stay Panel
********************************/

#stay {
    padding: 40px 0;
    background-color: $lightgrey;
    .stay-header {
        padding: 0px;
    }
    .stay-img {
        padding: 0;
    }
    .stay-location {
        padding: 0;
        margin-bottom: 20px;
    }

    .sm-address {
        padding: 0 0 10px 0;
    }

    h3 {

        margin: 0 0 20px 0;
    }
    h4 {
        margin: 0;
    }

    p {
        margin: 0;
    }
    a {
        text-decoration: none !important;

    }
    img {
        width: 80%;
        height: 80%;
        margin: 0px;
        padding: 0px;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        border-radius: 2%;
        -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 15px;
        -moz-box-shadow: rgba(0,0,0,0.8) 0 0 15px;
        box-shadow: rgba(0,0,0,0.8) 0 0 15px;
    }

    a {
        color: $green;
    }

    .xs-hide {
        display: none;
    }

    .stay-footer {
        width: 80%;
        margin: auto;
        p {
            font-size: 0.8rem;
        }

    }

    .stay-location h4 {
        font-size: 0.8rem;
    }

    .stay-location p {
        font-size: 0.65rem;
    }



    span.glyphicon-arrow-left, span.glyphicon-arrow-right {
        display: block;
        font-size: 2rem;
        padding: 5px 0;
    }


    @media screen and (min-width: 414px) {
        .stay-location h4 {
            font-size: 0.9rem;
        }
        .stay-location p {
            font-size: 0.7rem;
        }
    }

    @media screen and (min-width: 1024px) {
        .stay-location h4 {
            font-size: 1.2em;
        }
        .stay-location p {
            font-size: .8rem;
        }
    }

    @media screen and (min-width: 768px) {
        .stay-header {
            height: auto;
            text-align: center;
        }

        .stay-location {
            height: 100%;
        }
        .sm-address {
            margin: 0px;
        }
        .sm-footer {
            width: 50%;
        }
        h3 {
            line-height: normal;
        }
        h4 {
            text-align: center;
            padding: 0;
        }
        p {
            text-align: center;
            padding: 0;
        }
        span.glyphicon-arrow-up, span.glyphicon-arrow-down {
            display: none;
        }
        span.glyphicon-arrow-left, span.glyphicon-arrow-right {
            display: block;
            font-size: 2rem;
            padding: 5px 0;
        }
        .sm-hide {
            display: none;
        }
        .xs-hide {
            display: block;
        }
        .row.stay-location.sl_first {
            margin-bottom: 0px;
        }
    }


}


/********************************
RSVP Panel
********************************/

#rsvp {
    min-height: 300px;
    padding: 40px 10px;
    box-shadow: rgba(0,0,0,0.6) 0 0 15px;

    .form_body input[type=text].error-border {
        border: 1px solid red;
    }

    .error-border {
        border: 1px solid red;
    }

    label.form_button {
        display:inline-block;
        width: 45px;
        padding:4px 0;
        margin: 4px 4px;
        font-size:.8rem;
        font-weight: 400;
        background-color:$lightgrey;
        text-align: center;
        border-radius: 5px 5px;
        cursor: pointer;
         &:hover,
        &:active{
            -webkit-box-shadow: rgba(0,0,0,0.6) 0px 0 5px;
            -moz-box-shadow: rgba(0,0,0,0.6) 0 0 5px;
            box-shadow: rgba(0,0,0,0.6) 0 0 5px;
        }
        -webkit-box-shadow: rgba(0,0,0,0.6) 0px 0 3px;
        -moz-box-shadow: rgba(0,0,0,0.6) 0 0 3px;
        box-shadow: rgba(0,0,0,0.6) 0 0 3px;

    }

    .form_body input[type="radio"].att {
        display:none;
    }

    .form_body input[type="radio"].family_cnt {
        display:none;
    }

    .form_body input[type="radio"]:checked + label {
        background-color: $green;
        text-shadow: none;
        -webkit-box-shadow: rgba(0,0,0,0.6) 0px 0 5px;
        -moz-box-shadow: rgba(0,0,0,0.6) 0 0 5px;
        box-shadow: rgba(0,0,0,0.6) 0 0 5px;
    }

    .form_body input[type=text] {
        border-radius: 5px;
        background-color: $lightgrey;
        border: none;
        &:focus {
            background-color: $white;
            outline: none;
            border: solid 1px $mediumgrey;
        }
    }

    input[type="submit"] {
        padding: 4px 10px;
        margin: 20px;
        border: none;
        background-color: $green;
        font-size:.8rem;
        font-weight: 400;
        border-radius: 5px;
        box-shadow: rgba(0,0,0,0.6) 0 0 3px;
        &:hover,
        &:active{
            box-shadow: rgba(0,0,0,0.6) 0 0 5px;
        }
        &:focus {
            outline: none;
            box-shadow: rgba(0,0,0,0.6) 0 0 3px;
        }
    }


    .form_body .form_width {
        width: 100%;
        margin: 5px 0;
    }


    label.name {
        width: 40px;
        text-align: left;
        font-weight: 400;
        margin-right: 10px;
    }

    label.guest_name {
        width: 155px;
        text-align: left;
        font-weight: 400;
    }

    label.guest_label {
        width: 120px;
        font-weight: 400;
    }

    input {
        height: 26px;
        padding: 0 5px;
    }
    input.name {
        width: 140px;
    }

    input.email {
        width: 200px;
        margin: 0 10px;
    }

    fieldset.family_guest {
        width: 280px;
        margin: 5px auto;
        border: solid 1px $mediumgrey;
        border-radius: 3px;
        padding: 5px;
    }

    p.header  {
        margin: 10px 0;
    }

    .error {
     color: red;
    }




    @media screen and (min-width: 768px) {
        padding: 40px 40px;
    }


}



/********************************
Map Panel
********************************/
#map {
    width: 100%;
    height: 400px;
    box-shadow: rgba(0,0,0,0.6) 0 0 15px;
    z-index: 10;
}


/********************************
Map Page
********************************/
#map_page_wrap {
    width: 100%;
    height: calc(100vh - 270px);
    margin: 15px 0;
    box-shadow: rgba(0,0,0,0.6) 0 0 15px;   
}

#side_bar {
    padding: 0;
    background-color: $green;
    height: calc(100vh - 270px);
}

#map_page {
    height: calc(100vh - 270px);
}



/*remove list style (circles)*/
.goo-collapsible {  
    list-style: none;
    font-size:14px
}
ul.goo-collapsible {
    padding-left: 0;
}
/*header line style and border*/
.goo-collapsible li.header
{
    color: #666;
    padding:4px 12px;
    border: 1px solid $lightgrey;
}
/*set border for every line of menu and remove top border becouse we dont want double border with header border. */
.goo-collapsible li {
    border: 1px solid $grey;
    border-top:0;
    margin: 0;
    background:$green;
}
/*remove decoration from text links and treat it as a block.*/
.goo-collapsible li a {
    text-decoration:none;
    color: $white;
    display:block;
    padding: 4px 12px
}
/*we dont want text to be underline as regular link*/
.goo-collapsible li a:hover {
    background: $grey;
    text-decoration:none;
}
/*remove list style (circles) for submenu*/   
.goo-collapsible li ul {
    list-style: none;
    background: #66877c;
    display: none;
    margin:0;
    padding:0;
}
/*remove border and set only bottom border for submenu*/   
.goo-collapsible li ul li {
    margin:0;
    border:0;
    border-bottom:1px solid $lightgrey;
}
/*remove bottom border from last element in submenu*/   
.goo-collapsible li ul li:last-child {
    border-bottom:0;
}
/*set padding for submenu to be inline with maimenu*/   
.goo-collapsible li ul li a {
    padding: 5px 10px;
    display: block;
    padding-left: 33px;
    background: blue; 
}
/*remove text decoration for links*/
.goo-collapsible li ul li a:hover {
    text-decoration: none;
    background: #d9d9d9; 
}
/*for menu witch have a submenu display some icom*/
.goo-collapsible .dropdown > a {
    //background: url(/images/arrowdown.png) no-repeat right center; 
}
/*set some hover color on drop down menu*/
.goo-collapsible .dropdown > a:hover { 
    //background: #F8F8F8 url(/images/arrowdown.png) no-repeat right center !important;
}








/********************************
Slideshow Panel
********************************/

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    img {
        height: 300px;
    }

}














/********************************
Footer
********************************/
footer {
    padding: 10px;
    .glyphicon {
        font-size: 20px;
        margin-bottom: 20px;
        color: $green;
        &:hover {
            color: $mediumgrey;
        }
    }
    a {
        text-decoration: none;
        color: $green;
        &:hover {
            text-decoration: none;
        }
    }
}
